
  .control {
    height: rem(54px);
    padding-left: rem(38px);
    padding-right: rem(38px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      height: rem(54px);
      padding-left: rem(18px);
      padding-right: rem(18px);
      flex: 1;
    }
  }